:root{
	--primary-color:				#f27020;
	--dark-text-color:				#222;	
	--light-text-color:				#fff;
	--plain-text-color:				#666;

	--primary-background-color:		#FFFFFF;
	--secondary-background-color:	#e6e6e6;

	--neutral-color:				#949494;

	--error-color:					red;
	
}


/*

.bg-t {
	background-color:			transparent;
}

.bg-0 {
	background-color:			#fff;
	color:						#222;
}

.bg-0.hover:hover {
	background-color:			var(--primary-color);
	color:						#fff!important;
}

.border-0 {
	box-shadow:					0 0 0 .1rem 0 #fff inset;
}

.bg-1 {
	background-color:			#e6e6e6;
	color:						#666;
}

.bg-1.hover:hover {
	background-color:			#fff;
}

.border-1 {
	box-shadow:					0 0 0 .1rem #e6e6e6 inset;
}

.bg-2 {
	background-color:			#aaa;
	color:						#000;
}

.bg-2.hover:hover {
								
	background-color:			#aaa;
}

.border-2 {
	box-shadow:					0 0 0 .1rem hsla(99,48%,60%,1) inset;
}

.bg-3 {
	background-color:			var(--primary-color);
	color:						#fff;
}
.bg-3.hover:hover {
	background-color:			#fff;
	color:						var(--primary-color);
}
.border-3 {
	box-shadow:					0 0 0 .1rem var(--primary-color) inset;
}
.col-0 {
	color:						#222!important;
}
.col-1 {
	color:						#666!important;
}
.col-2 {
 	color:						#fff!important;
}
.col-3 {
	color:						var(--primary-color)!important;
}

.highlight-links a {
	color:						var(--primary-color)!important;
}

.active {
	color:						var(--primary-color);
}

*/