
/*Logo*/

.ic-logo-text, 
ic-logo-text{
	font-family:			Roboto, sans-serif !important;
	word-spacing: 			0 !important;
}

.ic-logo-text :first-child, 
ic-logo-text :first-child {
	font-weight:			500 !important;
	display:				inline-block !important;
}

.ic-logo-text :last-child, 
ic-logo-text :last-child {
	font-weight:			300 !important;
	display:				inline-block !important;
}

ic-logo-full,
ic-logo-print,
ic-logo-line {
	display:				inline-flex;
	align-items:			center;
	box-sizing:				border-box;
	height:					1em;
}

ic-logo-full 	> * ,
ic-logo-print	> * ,
ic-logo-line 	> * {
	flex:					0 0 auto;
	font-size:				0.8em;
	line-height:			1em;
}

ic-logo-full 	> img,
ic-logo-print 	> img,
ic-logo-line 	> img {
	height:					0.9em;
	width:					0.9em;
	margin-right:			0.2em;
}




